.slateHelpsYou {
  margin: 0;
}
.slateHelpsYouContainer {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 30px;
}
.paragraphe {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs);
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--paragraphe-size);
  color: var(--second-text);
  font-family: var(--subtitle);
}
